body
{
    background-color: #444;
    font-size: 20px;
}
#container
{
    background-color: #333;
    width: 400px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 30px 5px #333;
    -moz-box-shadow: 3px 3px 30px 5px #333;
    box-shadow: 3px 3px 30px 5px #333;
}
input[type=text],input[type=password]
{
    width: 400px;
    background-color: #fff;
    color: #00a693;
    border: 2px solid #00a693;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}
input[type=text]
{
    margin-top: 0px;
}
input[type=password]
{
    margin-top: 15px;
}
input[type=text]:focus,input[type=password]:focus
{
    border: 2px solid #ff445c;
    background-color: #e9f3e9;
    color: #ff596c;
}
#login
{
    width: 400px;
    background-color: #ff596c;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}
#login:hover
{   
    background-color: #ff445c;
}
input::-webkit-input-placeholder
{
    color: #00a693;
}
input:focus::-webkit-input-placeholder
{
    color: #ff596c;
}
#container2
{
    position: relative;
    background-color: #333;
    width: 400px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 30px 5px #333;
    -moz-box-shadow: 3px 3px 30px 5px #333;
    box-shadow: 3px 3px 30px 5px #333;
}
#back
{
    width: 150px;
    background-color: #00a693;
    font-size: 20px;
    padding: 15px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-right: 30px;
    margin-left: 15px;
    color: white;
}
#back:hover
{
    background-color: #008576;
}
#register
{
    width: 150px;
    background-color: #00a693;
    font-size: 20px;
    padding: 15px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    margin-left: 30px;
    color: white;
}
#register:hover
{
    background-color: #008576;
}